.profile-options {
  height: 10rem;
  width: 10rem;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1rem solid;
  border-radius: 1rem;
  width: 60rem;
  height: 27rem;
  font-size: 1.5rem;
}
.modal-form-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: relative;
  bottom: 18rem;
  width: 30rem;
  gap: 2.5rem;
  border: 0.1rem solid;
  border-radius: 1.5rem;
  padding: 1.2rem;
  background: #edf2f6;
  z-index: 22;
  transition: background ease 0.3s;
}
.profileDetails {
  padding: 1rem;
}
.profileInput {
  width: 16rem;
}
.save-cancel-btn {
  margin-top: 1rem;
  margin-left: 9rem;
}
.post-list {
  font-size: 1.5rem;
}
