.profile-pic{
    width: 50px;
    border-radius: 50%;
    height: 60px;
    /* left:33% */
    /* position: relative;   */
    /* display: flex;
    margin-left:12rem; */
    /* top:60px; */

}
.profile-details{
    margin-top:2px
}
.profile-username{
    margin-top:12px
}
/* 
.profile-info{
  display: flex;
flex-direction: column;
  
} */

.post-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  
}
.post-list{
  list-style: none;
    box-shadow: 0px 7px 29px 0px rgba(143, 127, 193, 0.2) ;
    text-align: center;
    width:600px;
    border-radius: 0.5rem;   
}

.post-list.with-media{
    list-style: none;
    box-shadow: 0px 7px 29px 0px rgba(143, 127, 193, 0.2) ;
    text-align: center;
    width:600px;
    height:455px;
    border-radius: 0.5rem;   
}

.post-list.without-media{
  list-style: none;
  box-shadow: 0px 7px 29px 0px rgba(143, 127, 193, 0.2) ;
  text-align: center;
  width:600px;
  /* height:177px; */
  border-radius: 0.5rem;   
}
p{
overflow-wrap: normal;
}
.post-card{
   display: flex;
   flex-direction: column;
   gap:1rem;
  

}
.btns{
    display: flex;
font-size:1rem;
margin-left:3.5rem;
/* justify-content: space-around; */
gap:6rem;
margin-bottom: 8px;
color:grey
}

.rest-btns{
  display: flex;
  font-size:1rem;
  /* margin-left:3.5rem; */
  justify-content: space-around;
  gap:6rem;
  margin-bottom: 8px;
  color:grey
}

.edit-delete{
  display: flex;
  gap:6rem;
  /* justify-content: space-around; */
}
.sort-btns{
    margin-left:8rem;

}
#sort-btn{
   
    margin-top: 20px;
    border: 1px solid;
    background-color: white;
    font: 1rem sans-serif;
    cursor: pointer;
    width: 11rem;
    border-radius: 1rem;
}
#trending-btn{
   
    margin-top: 20px;
    border: 1px solid;
    background-color: white;
    font: 1rem sans-serif;
    cursor: pointer;
    width: 11rem;
    border-radius: 1rem;
   
}
.added-post-card {
    height: 40px; 
    width: 600px;
    border: none;
    box-shadow: 0px 7px 29px 0px rgba(143, 127, 193, 0.2) ;
    /* box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2) ; */
    padding:8px
  }

  .add-post-container{
    width:600px
  }
  #post-btn{
    margin-bottom:5px;
    margin-left:18rem;
    width:4rem;
    
  }
  .user-profile{
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2) ;
  }
  .user-bio{
    margin-left:2.5rem;
  }
  .edit-profile-btn{
    margin-left:2.5rem;
    margin-bottom:1rem
  }

  .post-input-main{
    display: flex;
    flex-direction: column;
    gap:8px;
    position: relative;
    right:30rem;
    bottom: 18rem; 
     width:300px;
     gap:2.5rem;
     border:1px solid;
     border-radius: 1.5rem;
     /* box-shadow:0px 7px 29px 0px rgba(100, 100, 111, 0.2) ; */
     padding:12px ;
     background: #edf2f6;
     z-index: 22;
  }
  #file-upload {
    display: none;
  }

  .svg-icon{
    height:20px;
    color:#3498db
  }
  
  #input-text{
    height:8vh;
    font-size: medium;
    /* width: 20vh; */
  }
  .save-cancel{
    margin:8px;
  }
  .cancel-btn{
    margin-left:5px;
  }

  #file-label{
    border:1px solid black;
    padding:2px;
    color:#3498db;
    background-color:white;
  }
  /* .profile-info{
    display: flex;
    flex-direction: column;
  }
  .p-name{
    top:2%;
    position: relative;
  } */