.suggestion-list{
    list-style: none;
    text-align: center;
    
}
.suggestion-container{
   border: none;
   box-shadow: 0 0 10px rgba(0,0,0,0.2);
   text-align: center;
   margin-right: 1rem;
}
.profile-pic{
    width: 50px;
    border-radius: 50%;
    height: 40px;
    margin-top: 20px;
    position: relative;  
}
/* side-bar */

.side-bar-main{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap:4rem;
    height: 100%;
    text-align: center;
    /* margin-left:0px; */
    
    
}
.side-bar-content{
    /* margin-right:16rem; */
    /* margin-left:4rem; */
    font-size: 1.5rem;
    margin-top:10%
   
}
.side-bar-link{
    text-decoration: none;
    color:black
}

.logout-btn{
    width:55%;
    border:none;
    background-color: white;
    font-size: 1.5rem;
}
.icon{
    margin-right:10px
}
.sign-out-icon{
    margin-right:12px
}
input::placeholder {
    font: 1rem sans-serif;
}
.header{
    display:flex;
    align-items:center;
    color:#9D9D9D;
}

.heading{
    margin-left: 2rem;
}
.search-container{
    display: flex;
    border: 2px solid;
    width: 20%;
    border-radius:.7rem;
    background-color:white;
    padding:0.5rem;
    margin-left:30rem

}
.search-bar{
    border:none;
    outline:none;
    padding-left:1rem;
}

.search-modal-main{
    
   position:absolute;
   top:7%;
   width:auto;
   color:black;
   background-color: white;
   margin-left:40rem;
   border:2px solid;
   padding:4px
 } 

 .side-bar-link:hover{
    color:#9D9D9D
 }
 .logout-btn:hover{
    color:#9D9D9D ;
    cursor: pointer;
 }